#root {
  height: 100vh;
  width: 100vw;
}

body {
  background: lightgray;
}

.form-wrapper {
  width: 300px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alert {
  margin: 1rem auto;
  font-size: 1.5em;
  width: 300px
}

.copyright {
  text-align: center;
  width: 300px;
  margin-top: 1rem;
  font-size: 1rem;
  color: #999;
}

.login-form {
  margin: 0 auto;
}

.input {
  display: block;
  margin-bottom: 1rem;
  width: 300px;
}

button {
  width: 300px;
}

img {
  width: 85%;
}